@media screen and (max-width: 768px){
/*Melhorar resposividade*/
    header{
        justify-content: space-between;
    }
    header > .content-nav{
        position: fixed;
        border: 2px solid red;
        height: 100vh;
        right: 0;
        bottom: 0;
        width: 70%;
        flex-direction: column;
        justify-content: flex-start;
        gap: 2rem;
        background-color: hsl(0, 0%, 98%);
        font-size: 18px;
        transform: translateX(120%);
    }

    header > .content-nav .hist{
        margin-top: 4rem;
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    header > .content-nav > .btns{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
}